<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/communefavicon.ico">
	<a href="/admin/dashboard" class="back-button">⬅ Back to Dashboard</a>
    <title>Participants - Commune Cafe</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<div class="form-box participants-box">
    <h2>Participants</h2>
    <div class="top-bar">
        <div class="left-info">
            <div class="badge">
                Total Registration : <%= total %>
            </div>
        </div>
        <div class="actions">
            <input type="text" placeholder="Search name, email or WhatsApp">
            <a href="/admin/participants/export" class="btn">
                Download Excel
            </a>
        </div>
    </div>
	<div class="table-wrapper">
    <table class="participants-table">
        <thead>
            <tr>
                <th>No</th>
                <th>Name</th>
                <th>Email</th>
                <th>WhatsApp</th>
                <th>Instagram</th>
                <th>Source</th>
                <th>Counselling</th>
                <th>ETA</th>
                <th>Registered</th>
            </tr>
        </thead>

        <tbody>

        <% if (participants.length === 0) { %>

            <tr>
                <td colspan="9" class="empty">
                    No participants found.
                </td>
            </tr>

        <% } %>


        <% participants.forEach((item,index)=>{ %>
            <tr>
                <td><%= index + 1 %></td>
                <td><%= item.participants_name %></td>
                <td><%= item.participants_email %></td>
                <td><%= item.participants_wa %></td>
                <td><%= item.participants_ig || "-" %></td>
                <td><%= item.source %></td>
                <td><%= item.counselling_session ? "Yes" : "No" %></td>
                <td><%= item.time_arrival %></td>
                <td><%= new Date(item.created_date).toLocaleString() %></td>
            </tr>
        <% }) %>
        </tbody>
    </table>
	</div>
    <br>
    <a href="/" class="back-button">⬅ Back to Main Page</a>
</div>
</body>
</html>